@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

body {
  --background-color: rgb(227, 227, 227);
  --quote-box-color: white;
  --quote-text-color: black;
}

body.dark {
  --background-color: black;
  --quote-box-color: rgb(15, 15, 15);
  --quote-text-color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--quote-text-color);
  font-family: 'Nunito', sans-serif;
}

body {
  background-color: var(--background-color);
}

#quote-box {
  background-color: var(--quote-box-color);
  max-width: 40rem;
  margin: 10rem auto;
  padding: 3rem;
  border-radius: 5px;
}

#text {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

#author {
  display: flex;
  justify-content: flex-end;
  font-size: 1.2rem;
}

button {
  background-color: var(--quote-text-color);
  color: var(--quote-box-color);

  border: none;
  font-size: 0.9rem;
  font-weight: bold;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

button#new-quote {
  padding: 0.7rem 1rem;
}

button#dark-mode-switch {
  padding: 0.25rem 1rem;
  margin-bottom: 1rem;
}
